.main_content_accaunt{
    width: 700px;
    height: auto;
    margin:auto;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    
}
.img_accaunt_input{
    width: 250px;
    height: 250px;
    border: 3px solid black;
    border-radius: 100%;
}
.img_accaunt{

    width: 250px;
    height: 250px;
   
}
.content_photo{
    margin-top: 25px;
    width: auto;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
.main_info{
    font-size: large;
    margin-top: 25px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}
.button_photo{
}
.Button_change_photo{
    font-size: large;
    margin:20px 0px;
    width: 150px;
    height: 50px;
    border:none;
    border-radius: 30px 30px 30px 30px;
    background-color: silver;
    &:hover{
        background-color: orange;
        box-shadow: 12px 12px 12px black;
        transition: all 0.2s ease-in;
    }

}
.div_button_change_photo{
    height: auto;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
}
.button_good{
    border: 3px solid black;
    border-radius: 2vh;
    height: 35px;
    margin:10px 0;
    font-size: large;
    &:hover{
        background-color: greenyellow;
    }
    
}
.info_user{
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_out{
    margin:20px 0px;
    width: 200px;
    height: 50px;
    border:none;
    border-radius: 30px 30px 30px 30px;
    font-size: large;
    background-color: silver;
    &:hover{
        background-color: red;
        box-shadow: 12px 12px 12px black;
        transition: all 0.2s ease-in;
    }
}